# Python
__pycache__/
*.py[cod]
*.egg-info/
backend/.venv/
backend/media/
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database and data files
all.log

# Logs
backend/services/TextGeneration/logs/*.json

docs/

